In [1]:
income = spark.read.csv('/FileStore/tables/szmu6qr01489631363173/income.csv',header=False,inferSchema=True)

In [3]:
income = income.withColumnRenamed("id","age").withColumnRenamed("_c1","workclass")

In [4]:
display(income)

In [5]:
income = income.withColumnRenamed("_c2","fnlwt").withColumnRenamed("_c3","education").withColumnRenamed("_c4","edu-years").withColumnRenamed("_c5","maritial-status").withColumnRenamed("_c14","slab")

In [6]:
display(income)

In [7]:
from pyspark.sql import Row
def f(s):
  if s.slab.strip() == '<=50K':
    return 0
  else:
    return 1
  
new_slab = income.select('slab').rdd.map(f).map(lambda x: Row(slab_cat=x)).toDF()

In [8]:
display(income.join(new_slab, how='outer'))

In [11]:
new_slab.show()

In [12]:
df  = spark.createDataFrame([ Row(name='Awi',age=10), Row(name='Bwi',age=20), Row(name='Cwi',age=30)])

In [13]:
df2  = spark.createDataFrame([ Row(name='Awi',salary=1000), Row(name='Zwi',salary=2000), Row(name='Cwi',salary=4000)])

In [14]:
df.join(df2, df.name == df2.name, 'outer').select(df.name, df.age, df2.salary).show()

In [15]:
df.join(df2, df.name == df2.name, 'inner').select(df.name, df.age, df2.salary).show()

In [16]:
df2.join(df, df2.name == df.name, 'outer').select(df2.name, df.age, df2.salary).show()

In [17]:
help(income.withColumn)

In [18]:
inc.show()

In [19]:
idx = range(income.count())

In [20]:
tag = [ Row(index=i) for i in range(income.count())]

In [21]:
spark.createDataFrame(tag).index

In [22]:
income.withColumn('ind',spark.createDataFrame(tag).index)

In [23]:
dfx = spark.createDataFrame([Row(name='a', age=55, loc='Bangalore'), Row(name='b', age=75, loc='Mumbai')])

In [24]:
dfx.show()

In [25]:
dfx = spark.createDataFrame([Row(name='a', age=55, loc='Bangalore'), Row(name='b', age=75, loc='Mumbai')])